body {
	background: #fff;
	margin: 125px;
	border: 0;
	padding: 0;
	font-size: 26px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: -0.05em;
	line-height: 1.2;
	color: #989898;
}

.front #content {
	width: 630px;
}

p {
	margin: 0 0 1em 0;
}

h2 {
	font-size: 1em;
	color: #000;
	margin: 0;
	padding: 0;
}

a, a:visited {
	color: #1a5e9d;
	text-decoration: none;
	border-bottom: 2px solid #1a5e9d;
	white-space: nowrap;
}
a:hover {
	color: #000;
	border-bottom: 2px solid #000;
}

a.manualdesign {
	color: #000;
	background: #fffabc;
	border: 0;
	padding: 0.3em 1em 0.2em 0.3em;
}
a.delicious {
	color: #0000ff;
	border-bottom: 0;
}
a.delicious:hover { color: #0000aa; }
a.tumblr {
	color: #252a30;
	border-bottom: 0;
}
a.tumbler:hover { color: #000000; }
a.twitter {
	color: #33ccff;
	border-bottom: 0;
}
a.twitter:hover { color: #13acdf; }
a.flickr {
	color: #0063dc;
	border-bottom: 0;
}
a.flickr:hover { color: #0043ac; }
a.poop {
	color: #ff0000;
	border-bottom: 0;
}
a.poop:hover { color: #cc0000; }
a.lastfm {
	color: #be1a38;
	border-bottom: 0;
}
a.lastfm:hover { color: #9e0a18; }
a.underskog {
	color: #33aa33;
	border-bottom: 0;
}
a.underskog:hover { color: #118811; }
a.linkedin {
	color: #52a9d4;
	border-bottom: 0;
}
a.linkedin:hover { color: #3279b4; }
a.github {
	color: #111;
	border-bottom: 0;
}
a.github:hover { color: #333; }
a.facebook {
	color: #3b5998;
	border-bottom: 0;
}
a.facebook:hover { color: #1b3978; }
a.soundcloud {
	color: #FD3C00;
	border-bottom: 0;
}
a.soundcloud:hover {
	color: #dD2C00;
}
